<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- RUTA AQUÍ -->
    <div class="container-fluid mx-5">

        <div class="col-3">
            <a class="navbar-brand " href="/home/{{usuario.nickname}}">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/1200px-Typescript_logo_2020.svg.png"
                    width="35" height="35" class="d-inline-block align-top">
                Topster
            </a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-6 justify-content-center">
            <div class="row">
                <!-- ICONOS -->
                <ul class="d-flex flex-row m-0 justify-content-evenly" style="list-style: none">
                    <li>
                        <a class="nav-item nav-link " href="/home/{{usuario.nickname}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                class="bi bi-house-door" viewBox="0 0 16 16">
                                <path
                                    d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="nav-item nav-link" href="/post/{{usuario.nickname}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                class="bi bi-plus-square" viewBox="0 0 16 16">
                                <path
                                    d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                <path
                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="nav-item nav-link active" href="/profile/{{usuario.nickname}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                class="bi bi-person" viewBox="0 0 16 16">
                                <path
                                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="nav-item nav-link" href="/search/{{usuario.nickname}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-3 text-end">
            <a class="nav-item nav-link" [routerLink]="['/login']">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-door-open-fill" viewBox="0 0 16 16">
                    <path
                        d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z" />
                </svg>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <!-- Perfil -->
    <div class="d-flex justify-content-center mt-4 mb-4">
        <div class="col col-lg-auto">
            <!-- Foto de Perfil -->
            <img src="{{usuario.fotoDePerfil}}" height="120" width="120"
                style="border-radius: 50%;">
        </div>
        <div class="row justify-content-md-center">
            <div class="ps-2 col-md-auto align-self-center">
                <h2 class="m-0">{{usuario.nickname}}</h2>
            </div>
            <div class="col col-md-auto align-self-center">
                <button *ngIf="esUsuarioLogueado" (click)="editarPerfil()"  type="button" class=" btn btn-light">Editar Perfil</button>
            </div>
            <div>
                <ul class="d-flex flex-row m-0 justify-content-evenly" style="list-style: none">
                    <!--li>20K seguidores</li>
                    <li>10 seguidos</li-->
                </ul>
            </div>
            <div class="d-flex flex-row m-0 justify-content-evenly">
                <button *ngIf="!esUsuarioLogueado" (click)="seguirUsuario()" 
                    class=" btn btn-warning" type="button">{{textoDeSeguir}}</button>
            </div>
        </div>
    </div>

    <!-- Bio -->
    <div class="d-flex justify-content-center">
        <div class="col-8 justify-content-start pl-1 pr-1">
            <div class="row">
                <div class="d-flex align-middle"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                        fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16" style="margin-top: 4px">
                        <path
                            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                    </svg>
                    <span class="ms-2" style="font-size: x-large;">Bio</span>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mb-3">
        <div class="col-8 justify-content-start pl-1 pr-1">
            <h3>{{usuario.nombres}} {{usuario.apellidos}}</h3>
            <span style="white-space: pre-line"> {{usuario.biografia}}</span>
        </div>
    </div>

    <!-- Posts -->
    <div class="d-flex justify-content-center">
        <div class="col-8 justify-content-start pl-1 pr-1">
            <div class="row">
                <div class="d-flex align-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-grid-3x3" viewBox="0 0 16 16" style="margin-top: 4px">
                        <path
                            d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v13a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13zM1.5 1a.5.5 0 0 0-.5.5V5h4V1H1.5zM5 6H1v4h4V6zm1 4h4V6H6v4zm-1 1H1v3.5a.5.5 0 0 0 .5.5H5v-4zm1 0v4h4v-4H6zm5 0v4h3.5a.5.5 0 0 0 .5-.5V11h-4zm0-1h4V6h-4v4zm0-5h4V1.5a.5.5 0 0 0-.5-.5H11v4zm-1 0V1H6v4h4z" />
                    </svg>
                    <span class="ms-2" style="font-size: x-large;">Posts</span>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <div class="pb-2">
        <app-posts [arregloPosts]="postsDeUsuario"></app-posts>
    </div>

</div>