<!-- Componente Comentario-->
<div style="border-bottom: 1px solid rgba(0, 0, 0, 0.125);">
    <div *ngFor="let comments of arregloComentarios; let i = index">
        <div class="d-flex justify-content-between">
            <p class="card-title-comment" style="margin-bottom: 0px;">{{comments.usuarioComentario}}</p>
            <p class="comment-date" style="margin-bottom: 0px;">{{comments.fechaComentario}}</p>
        </div>
        <p class="card-text-comment">{{comments.descripcionComentario}}</p>
        <hr>
    </div>
</div>
<div class="input-group">
    <textarea class="form-control" style="height: 40px;" aria-label="With textarea"
        placeholder="Añade un comentario..."></textarea>
    <a class=" mt-2 btn btn-success ">
        <div class='align-self-center'>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                class="bi bi-send" viewBox="0 0 16 16">
                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
            </svg>
        </div>
    </a>
</div>