/* {
    border:solid 1px red
}*/

.card {
    margin: 0 300px 0 300px;
}

.nav-link {
    color: black;
}


.btn {
    padding: 0.1rem 0.5rem;
    font-size: 0.9rem;
}

.navbar-nav-reactions {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    cursor: pointer;
}
