<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- RUTA AQUÍ -->
    <div class="container-fluid mx-5">

        <div class="col-3">
            <a class="navbar-brand " href="#">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/1200px-Typescript_logo_2020.svg.png"
                    width="35" height="35" class="d-inline-block align-top">
                Topster
            </a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-6 justify-content-center">
            <div class="row">
                <!-- ICONOS -->
                <ul class="d-flex flex-row m-0 justify-content-evenly" style="list-style: none">
                    <li>
                        <a class="nav-item nav-link " [routerLink]="['/home']">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="nav-item nav-link" [routerLink]="['/post']">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="nav-item nav-link active" [routerLink]="['/profile']">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="nav-item nav-link" [routerLink]="['/search']">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-3 text-end">
            <a class="nav-item nav-link" [routerLink]="['/login']">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
                    <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z" />
                </svg>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid mb-3">
    <div class="container mt-3 mb-3" style="padding-left: 20%; padding-right: 10%;">
        <h6>Buscar Usuario:</h6>
        <div class="row">
            <div class="col-md-10" style="align-self: center">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
            </div>
            <div class="col-md-2" style="align-self: center">
                <button type="button" class="btn btn-secondary" style="padding: 5px 7px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
                        </path>
                    </svg>
                </button>
            </div>
        </div>
    </div>


    <div class="container pb-3">
        <div class="card mt-3 mb-3">
            <div class="card-body d-flex justify-content-between">
                <div class="p-2 d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg>
                    <div class="align-self-center">
                        <h5 class="mb-0 px-3">comic</h5>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse align-self-center">
                    <div class="p-2">seguidores</div>
                    <div class="p-2">20K</div>
                    <div class="p-2">posts</div>
                    <div class="p-2">137</div>
                </div>
            </div>
            <a [routerLink]="['/profile']" class="stretched-link"></a>
        </div>

        <div class="card mt-3 mb-3">
            <div class="card-body d-flex justify-content-between">
                <div class="p-2 d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg>
                    <div class="align-self-center">
                        <h5 class="mb-0 px-3">comic.ec</h5>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse align-self-center">
                    <div class="p-2">seguidores</div>
                    <div class="p-2">2578</div>
                    <div class="p-2">posts</div>
                    <div class="p-2">20</div>
                </div>
            </div>
            <a [routerLink]="['/profile']" class="stretched-link"></a>
        </div>

        <div class="card mt-3 mb-3">
            <div class="card-body d-flex justify-content-between">
                <div class="p-2 d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg>
                    <div class="align-self-center">
                        <h5 class="mb-0 px-3">comic_fans_club</h5>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse align-self-center">
                    <div class="p-2">seguidores</div>
                    <div class="p-2">16K</div>
                    <div class="p-2">posts</div>
                    <div class="p-2">150</div>
                </div>
            </div>
            <a [routerLink]="['/profile']" class="stretched-link"></a>
        </div>

        <div class="card mt-3 mb-3">
            <div class="card-body d-flex justify-content-between">
                <div class="p-2 d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg>
                    <div class="align-self-center">
                        <h5 class="mb-0 px-3">comic_love_ya</h5>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse align-self-center">
                    <div class="p-2">seguidores</div>
                    <div class="p-2">1819</div>
                    <div class="p-2">posts</div>
                    <div class="p-2">100</div>
                </div>
            </div>
            <a [routerLink]="['/profile']" class="stretched-link"></a>
        </div>

        <div class="card mt-3 mb-3">
            <div class="card-body d-flex justify-content-between">
                <div class="p-2 d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg>
                    <div class="align-self-center">
                        <h5 class="mb-0 px-3">comic.communist.party.ccp</h5>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse align-self-center">
                    <div class="p-2">seguidores</div>
                    <div class="p-2">2541</div>
                    <div class="p-2">posts</div>
                    <div class="p-2">50</div>
                </div>
            </div>
        </div>
        <a [routerLink]="['/profile']" class="stretched-link"></a>
    </div>
</div>