<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="https://seekvectors.com/files/download/33e2b2de705810db1a7fdc79718c6a66.jpg"
                        class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form class="form_options">
                    <label>Usuario:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                        </div>
                        <input [(ngModel)]="username" [ngModelOptions]="{standalone: true}" type="text" name="usuario" class="form-control input_user" value="" placeholder="Email">
                    </div>
                    <label>Contraseña:</label>
                    <div class="input-group mb-2">

                        <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" name="" class="form-control input_pass" value=""
                            placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControlInline">
                            <label class="custom-control-label" for="customControlInline">Recordarme</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <!-- RUTA AQUÍ-->
                        <button (click)="ingresar()" type="button" name="button" class="btn login_btn">Login</button>
                    </div>
                </form>
            </div>

            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    ¿Aún no esta registrado?
                    <!-- RUTA AQUÍ-->
                    <a [routerLink]="['/register']" class="ml-2"> Registrarme</a>
                </div>
                <!-- RUTA AQUÍ
                <div class="d-flex justify-content-center links">
                    <a href="#">Olvidé mi contraseña</a>
                </div>
            -->
            </div>
        </div>
    </div>
</div>
