
<div class="container text-center" style="padding-top: 150px; padding-bottom: 50px;">
    <h1>ERROR 404 - RUTA NO ENCONTRADA</h1>
    <img src="https://mario.wiki.gallery/images/9/9d/DKC_Unused_Donkey_Kong_Head_Scratch.gif" style="max-width: 400px; max-height: 110px">
    <!--<img src="https://64.media.tumblr.com/f20e6357a7a76cdc8a9ae00e73ab131a/tumblr_n0e9y2UBGm1rrftcdo1_500.gifv" style="max-width: 500px; max-height: 500px; padding-bottom: 260px;">-->
    <!--<img src="https://images.hive.blog/DQmXUpis7ecnFnc93VtV9EZvDniSBqQxYziJbfMyLrpdBU7/2%20(916).gif" style="max-width: 500px; max-height: 500px; padding-bottom: 260px;">-->
    <img src="https://www.avatarist.com/avatars/Games/Sprites/Donkey-Kong/Diddy-Kong-cap.gif" style="max-width: 450px; max-height: 450px">
    <div style="padding-top: 40px; padding-bottom: 100px;">
        <h1>KNEES ON FLOOR FOR THE MONKE SUPREMACY!</h1>
        <img src="https://cdn.streamlabs.com/users/14037702/library/8925d4bdf37e20578c839b5d022a4de4_w200.gif" style="max-width: 450px; max-height: 450px">
    </div> 
</div>
