

.container{
    padding-top: 6%;
    padding-bottom: 5.6%;
}

.user_card {
    height: 575px;
    width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    background: rgb(52, 175, 173, 1);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.brand_logo_container{
    position: absolute;
    height: 100px;
    width: 100px;
    top: -50px;
    border-radius: 50%;
    background: #f39c12;
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid white
}

.form_container{
    margin-top: 40px;
}

.btn-primary{
    background: #A18E30 !important;
    color:white !important;
    border-color: #A18E30;
    width: 120px;
    margin-right: 40px;
    margin-left: 10px;
}

.btn-primary:focus{
    box-shadow: none !important;
    outline: 0px !important;
}

.btn-secondary{
    background: #7a7a77 !important;
    color:white !important;
    border-color: #7a7a77;
    width: 120px;
    margin-left: 40px;
    margin-right: 10px;
}

.btn-secondary:focus{
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user, .input_pass:focus{
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
}

.form_control{
    padding: 0.375rem 2.5rem !important;
}

label{
    color: white;
}

.form_options{
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}

.links a {
    text-decoration: none;
    margin-left: 7px;
}

.form-check-inline {
    margin-left: 1rem;
}

.terms{
    font-size:xx-small;
    text-align: justify;

}