/*{
    border: 1px solid red
}*/

.nav-link {
    color: black;
}


.navbar-nav-reactions {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    cursor: pointer;
}

.btn-primary {
    height: fit-content;
}

.uploadFile {
    position:absolute;
    font-size: 10px;
    opacity: 0;
  }

  .btn-group-lg>.btn, .btn-lg {
    padding: 0.4rem 1rem;
    font-size: 1rem;
  }
