/*{
    border: 1px solid red
}*/

.nav-link {
    color: black;
}


.navbar-nav-reactions {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    cursor: pointer;
}
